form {
  width: 100%;
  max-width: 500px;
  margin: 50px auto;
  background: #fafafa;
  -webkit-box-shadow: 0px 0px 96px 0px rgba(98, 98, 98, 0.75);
  -moz-box-shadow: 0px 0px 96px 0px rgba(98, 98, 98, 0.75);
  box-shadow: 0px 0px 96px 0px rgba(98, 98, 98, 0.75);
  min-height: 250px;
  padding: 40px;
}

.input-text {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #fbd754;
  border-radius: 4px;
  color:#4494dd;
  font-weight: 600;
  font-size: larger;
}

.label-custom {
  color:#ff5d64;
  font-weight: 600;
  font-size: larger;
}

.input-text:focus{
  border-color: #fbd754;
  box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #fbd754;
  outline: 0 none;
}

[type="file"] {
  /* Style the color of the message that says 'No file chosen' */
  color: #ff5d64;
  margin-bottom: 20px;
}
[type="file"]::-webkit-file-upload-button {
  background: #ff5d64;
  border: 2px solid #ff5d64;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-size: larger;
  outline: none;
  padding: 10px 25px;
  text-transform: uppercase;
  transition: all 1s ease;
}

[type="file"]::-webkit-file-upload-button:hover {
  background: #fff;
  border: 2px solid #535353;
  color: #000;
}